<style>
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

  body {
    margin: 0px;
  }

  body,
  button,
  input,
  textarea {
    font-family: "Quicksand", sans-serif;
  }

  .logo {
    height: 30px;
    margin-right: 10px;
  }

  :root {
    --font-size-1: 72px;
    --font-size-2: 54px;
    --font-size-3: 42px;
    --font-size-4: 24px;
    --font-size-5: 18px;

    --bg-dark-grey: #838387;
    --bg-light-grey: #d2d2d9;
    --bg-white: rgb(250, 250, 255);
    --bg-purewhite: #fefeff;

    --light-orange: #e3a246;
    --dark-orange: rgb(227, 136, 9);
    --darker-orange: rgb(200, 116, 0);

    --font-black: #2f2f30;
    --font-light-grey: #a6a6ab;
    --font-white: #fafafd;
  }

  nav {
    background-color: var(--bg-white);
    color: var(--darker-orange);
    height: 10vh;
    padding: 0 1vw;
    top: 0;
    left: 0;
    width: 98.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

  .nav-links a,
  p {
    text-decoration: none;
    padding: 10px;
    color: var(--darker-orange);
    font-size: var(--font-size-5);
  }

  #title {
    font-size: var(--font-size-3);
    color: var(--darker-orange);
    text-decoration: none;
    margin-left: 1vw;
  }

  #nav-username {
    font-weight: bold;
  }
</style>
<nav>
  <a id="title" href="/"
    ><img
      src="{{ url_for('static', filename='res/logo.png') }}"
      class="logo"
    />The Shelf</a
  >

  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    {% if account != None %} {% if account.type == '1' %}
    <li><a href="/donate">Donate</a></li>
    {% endif %} {% if account.type == '2' %}
    <li><a href="/shelf">Shelf</a></li>
    {% endif %}
    <li><p id="nav-username">{{account.fname}} {{account.lname}}</p></li>
    <li><a href="/logout">Log out</a></li>
    {% else %}
    <li><a href="/login">Log In</a></li>
    <li><a href="/register">Register</a></li>
    {% endif %}
  </ul>
</nav>
