:root {
    --font-size-1: 72px;
    --font-size-2: 54px;
    --font-size-3: 42px;
    --font-size-4: 24px;
    --font-size-5: 18px;

    --bg-dark-grey: #838387;
    --bg-light-grey: #D2D2D9;
    --bg-white: rgb(250, 250, 255);
    --bg-purewhite: #FEFEFF;

    --light-orange: #e3a246;
    --dark-orange: rgb(227, 136, 9); /* contrasts with dark background */
    --darker-orange: rgb(200, 116, 0); /* contrasts with light background */

    --font-black: #2F2F30;
    --font-light-grey: #A6A6AB;
    --font-white: #FAFAFD;
}

body {
    font-family: Arial, sans-serif;
    color: var(--font-black);
    background-color: var(--bg-white);
    margin: 0;
  }